.equipo {
    width: 100%;
    /* background-color: #D9F7E9; */
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.title-equipo {
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57C278;
    display: inline-block;
    padding-bottom: 8px;
}
.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.input-color {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}